/*---------------------
  Map
-----------------------*/

.map {
	height: 500px;
}

.map iframe {
	width: 100%;
}

/*---------------------
  Contact
-----------------------*/

.contact-text {
	text-align: left;
	margin-bottom: 40px;
}

.contact-text h2 {
	font-size: 48px;
	margin-bottom: 18px;
}

.contact-text p {
	color: #707070;
	line-height: 26px;
	margin-bottom: 0;
}

.contact-text ul li {
	list-style: none;
	margin-bottom: 26px;
}

.contact-text ul li:last-child {
	margin-bottom: 0;
}

.contact-text ul li h4 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 8px;
}

.contact-text ul li p {
	line-height: 27px;
	margin-bottom: 0;
}

.contact-form input {
	height: 50px;
	width: 100%;
	border: 1px solid #e1e1e1;
	padding-left: 20px;
	font-size: 15px;
	color: #b7b7b7;
	margin-bottom: 30px;
}

.contact-form input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.contact-form input::-moz-placeholder {
	color: #b7b7b7;
}

.contact-form input:-ms-input-placeholder {
	color: #b7b7b7;
}

.contact-form input::-ms-input-placeholder {
	color: #b7b7b7;
}

.contact-form input::placeholder {
	color: #b7b7b7;
}

.contact-form textarea {
	height: 150px;
	width: 100%;
	border: 1px solid #e1e1e1;
	padding-left: 20px;
	padding-top: 12px;
	font-size: 15px;
	color: #b7b7b7;
	margin-bottom: 24px;
	resize: none;
}

.contact-form textarea::-webkit-input-placeholder {
	color: #b7b7b7;
}

.contact-form textarea::-moz-placeholder {
	color: #b7b7b7;
}

.contact-form textarea:-ms-input-placeholder {
	color: #b7b7b7;
}

.contact-form textarea::-ms-input-placeholder {
	color: #b7b7b7;
}

.contact-form textarea::placeholder {
	color: #b7b7b7;
}

.contact-form button {
	letter-spacing: 4px;
	padding: 14px 35px;
}
